@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&family=Ubuntu:ital,wght@0,300;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --white-color: #fff;
    --primary-color: rgb(86, 168, 164);
    --black-color: black;
    --grey-color: #555;
}

body {
    background: var(--white-color);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


/*


          user sign up and log in

*/

section {
    position: relative;
    min-height: 100vh;
    background-color: #557085;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}

section.active {
    background: #3e3f39;
}

section .container {
    position: relative;
    width: 650px;
    height: 480px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#s-button {
    color: var(--white-color);
    border: 0.5px solid var(--grey-color);
    width: 90px;
    height: 40px;
    background: var(--primary-color);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
}

section .container .user {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

section .container .user .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
    transition: 0.5;
}

section .container .user .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .container .user .formBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5;
}

section .container .user .formBx h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    color: var(--primary-color);
}

section .container .user .formBx input {
    width: 80%;
    align-content: center;
    padding: 10px;
    color: black;
    background: #f5f5f5;
    font-weight: 300;
    letter-spacing: 1px;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    margin: 10px 25px;
    border: none;
}

section .container .user .formBx input[type="submit"] {
    max-width: 100px;
    background: #677eff;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.5s;
    font-weight: 500;
    cursor: pointer;
}

section .container .user.signupBx .formBx input[type="submit"] {
    background: #e73e49;
}

section .container .user .formBx .signup {
    position: relative;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #555;
    font-weight: 300;
    margin-left: 25px;
}

section .container .user .formBx .signup a {
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-color);
}

section .container .signupBx {
    pointer-events: none;
}

section .container.active .signupBx {
    pointer-events: initial;
}

section .container .signupBx .formBx {
    top: 100%;
}

section .container .signupBx .imgBx {
    top: -100%;
    transition: 0.3s;
}

section .container.active .signupBx .formBx {
    top: 0;
}

section .container.active .signupBx .imgBx {
    top: 0;
}

section .container .signinBx .formBx {
    top: 0;
}

section .container.active .signinBx .formBx {
    top: 100;
}

section .container .signinBx .imgBx {
    top: 0;
}

section .container.active .signinBx .imgBx {
    top: -100;
}

@media (max-width:991px) {
    section .container {
        max-width: 400px;
    }
    section .container .imgBx {
        display: none;
    }
    section .container .user .formBx {
        width: 100%;
    }
    section .container.active .signinBx .formBx {
        top: -100;
    }
}

.s-link .active {
    background: var(--white-color);
}


/*    Home styles  */

.main {
    position: relative;
    display: flex;
}

.main .navigation {
    position: fixed;
    height: 100%;
    background: var(--primary-color);
    width: 200px;
    padding: 30px 0;
}

.main .navigation h2 {
    font-size: 35px;
    font-weight: 600;
    color: var(--white-color);
    letter-spacing: 2px;
    margin-bottom: 50px;
    justify-content: center;
}

.main .navigation ul li {
    padding: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);
    border-top: 1px solid rgb(225, 225, 225, 0.5);
}

.main .navigation ul li a {
    display: block;
    color: var(--white-color);
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.main .navigation ul li a .fa-solid {
    width: 40px;
}

.main .navigation ul li:hover {
    background-color: var(--white-color);
}

.main .navigation ul li:hover a {
    color: var(--primary-color);
}


/*  Home Content  */

.main .pages {
    width: 100%;
    margin-left: 200px;
}

.main .pages .header {
    top: 0;
    width: 98%;
    height: 80px;
    background: var(--primary-color);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.main .pages .header h2 {
    text-align: center;
    color: var(--white-color);
    font-size: 30px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.main .home-content .content {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.main .home-content .content .row .coulmn {
    width: 90%;
    margin-top: 50px;
    margin-left: 10%;
    position: relative;
    display: inline-block;
}

.main .home-content .content .row .coulmn .c-items {
    width: 220px;
    height: 100px;
    background: #f1f1f1;
    display: inline-block;
    margin-right: 80px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 5px;
}

.main .home-content .content .row .coulmn .c-items h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Ubuntu";
    letter-spacing: 1.5px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.main .home-content .content .row .coulmn .c-items .c-values {
    font-size: 20px;
    color: var(--black-color);
    opacity: 0.8;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 5px;
}


/*

             Patient Page       

*/

.patients-content .patients .patients-operation,
.s-header,
.w-header {
    width: 100%;
    height: 80px;
    max-height: 200px;
    position: relative;
    border-bottom: 2px solid var(--grey-color);
}

.patients-content .patients .patients-operation .items ul,
.s-header .items ul,
.w-header .items ul {
    list-style: none;
    margin-top: 10px;
}

.patients-content .patients .patients-operation .items ul li,
.s-header .items ul li,
.w-header .items ul li {
    display: inline-block;
    padding: 0 20px;
    margin-left: 50px;
}

.patients-content .patients .patients-operation .items ul li button,
.s-header .items ul li button,
.w-header .items ul li button {
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
    padding: 10px 25px;
    text-align: center;
    font-family: "Poppins";
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    letter-spacing: 1.5px;
}


/*   
           Table Patient
*/

.fixed_header {
    width: 90%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 8%;
}

.fixed_header tbody tr td button {
    font-size: 10px;
    color: var(--white-color);
    background: var(--primary-color);
    width: 70px;
    height: 25px;
    justify-content: center;
    border: none;
    border-radius: 5px;
}

.fixed_header tbody tr td button a {
    text-decoration: none;
    color: var(--white-color);
    height: 25px;
    width: 70;
    letter-spacing: 0.5px;
}

.fixed_header thead tr {
    display: block;
}

.fixed_header thead {
    background: black;
    color: #fff;
}

.fixed_header th,
.fixed_header td {
    padding: 5px;
    text-align: left;
    width: 200px;
    border: 1px solid var(--grey-color);
    border-bottom: 2px solid var(--primary-color);
    cursor: pointer;
}

.table-position {
    margin-top: 5%;
    margin-left: 5%;
    height: 5%;
}

.update .fixed_header tbody,
.delete .fixed_header tbody,
.s-b2 .fixed_header tbody,
.s-b3 .fixed_header tbody,
.w-b2 .fixed_header tbody,
.w-b3 .fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 100px;
}


/*            Patient add new     */

.p-add-new {
    width: 250px;
    height: 80px;
}

.list-style {
    width: 90%;
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
}

.list-style ul {
    list-style: none;
}

.list-style ul li {
    margin-right: 5%;
    margin-bottom: 2%;
    display: inline-block;
    text-align: center;
    align-items: center;
}

input[type=text],
select {
    width: 80%;
    padding: 8px 14px;
    margin: 2px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 2px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    font-family: "Ubuntu";
    letter-spacing: 1px;
}

input[type=text]:focus {
    background-color: var(--primary-color);
    color: var(--white-color);
}

label {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: var(--primary-color);
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.add-new button,
.update button,
.delete button,
.s-b2 button,
.s-b3 button,
.w-b3 button,
.w-b2 button {
    width: 120px;
    height: 40px;
    padding: 5px;
    color: var(--white-color);
    background: var(--primary-color);
    float: right;
    margin-right: 10%;
    border: 1px solid var(--grey-color);
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins";
    letter-spacing: 2px;
    margin-top: 10px;
}

.update ul button {
    margin-top: 20px;
    margin-right: 100px;
}

.selected {
    background: var(--primary-color);
    color: var(--white-color);
}


/*

        Patient update data
*/

.pu-data {
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.pu-data .data {
    width: 250px;
    height: 80px;
}


/* 
        Log Out
*/

.l-content h1 {
    position: relative;
    align-items: center;
    text-align: center;
    margin-top: 20%;
}

.l-content button {
    width: 200px;
    height: 80px;
    color: var(--white-color);
    background: var(--primary-color);
    border: none;
    font-family: "Ubuntu";
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 10px;
}